<% if user_signed_in? %>

  <h2>Quick Menu</h2>

  <%= link_to new_category_path, class: "btn btn-success" do %>
    <span class="fa fa-plus"></span> Add Category
  <% end %>

  <%= link_to new_income_path, class: "btn btn-primary" do %>
    <span class="fa fa-plus"></span> Add Income
  <% end %>

  <%= link_to new_outcome_path, class: "btn btn-warning" do %>
    <span class="fa fa-plus"></span> Add Outcome
  <% end %>

<% else %>
  Expense Manager
<% end %>
