<h1>Editing Outcome</h1>

<%= render 'form', outcome: @outcome %>

<%= link_to outcomes_path, class: "btn btn-secondary" do %>
  <span class="fa fa-arrow-left"></span> Back
<% end %>

<%= link_to @outcome, class: "btn btn-success" do %>
  <span class="fa fa-eye"></span> Show
<% end %>
