<h2>Statistic</h2>
<table class="table table-responsive">
  <tr>
    <td>Total Income</td>
    <td><%= @income_sum %></td>
  </tr>

  <tr>
    <td>Total Outcome</td>
    <td><%= @outcome_sum %></td>
  </tr>

  <tr>
    <td>Balance</td>
    <td><%= @balance %></td>
  </tr>
</table>
